{% extends 'base.html.twig' %}
{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form, {'attr':{'class': 'edit-form'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.body) }}
        {{ form_row(form.author) }}
        <div class="image-preview">
            {% if post.imageName %}
                <img width=100 src="{{ asset('uploads/images/') ~ post.imageName }}">
            {%  endif %}
        </div>
        {{ form_row(form.image) }}

        <a href="{{ path('admin_index') }}" class="btn btn-link">
            {{ 'Back to posts list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}