{% extends 'base.html.twig' %}
{% block title %}
    Posts - {{ parent() }}
{% endblock %}
{% block body %}
    {% for post in posts %}
        <article class="post">
            <h3>
                <a href="{{ path('microblog_single_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h3>

            {{ post.body }}
        </article>
    {% else %}
        <div class="well">{{ 'No posts found'|trans }}</div>
    {% endfor %}
{% endblock %}