{% extends 'base.html.twig' %}
{% block title %}
    Posts - {{ parent() }}
{% endblock %}
{% block body %}
    {% for post in posts %}
        <article class="post">
            <h3>
                <a href="{{ path('microblog_single_post', { slug: post.slug }) }}">
                    {{ post.title }}
                </a>
            </h3>

            {% if post.imageName %}
                <div class="post-thumbnail">
                    <img src="{{ asset('uploads/images/') ~ post.imageName }}" width="150" >
                </div>
            {% endif %}
            <div class="post-body">
                {{ post.excerpt }} <a href="{{ path('microblog_single_post', { slug: post.slug }) }}">(...)</a>
            </div>
        </article>
    {% else %}
        <div class="well">{{ 'No posts found'|trans }}</div>
    {% endfor %}
{% endblock %}