{% extends 'base.html.twig' %}
{% block title %}
    {{ post.title }} - {{ parent() }}
{% endblock %}
{% block body %}
    <article class="post">
        <h1>{{ post.title }}</h1>
        <div class="post-subtitle">
            <span class="post-date-created">{{ post.createdOn|date }}</span>, <span class="post-author">{{ post.author }}</span>
        </div>
        {% if post.imageName %}
            <div class="post-image"><img src="{{ asset('uploads/images/') ~ post.imageName }}" width="250"></div>
        {% endif %}
        <div class="post-content">{{ post.body }}</div>
    </article>
{% endblock %}