{% extends 'base.html.twig' %}
{% block body %}
    <article class="post">
        <h1>{{ post.title }}</h1>
        <div class="post-subtitle">
            <span class="post-date-created">{{ post.created_on }}</span>, <span class="post-author">{{ post.author }}</span>
        </div>
        <div class="post-image"><img src="{{ post.imageUrl }}"></div>
        <div class="post-content">{{ post.body }}</div>
    </article>
{% endblock %}